* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}
/* Common css end */

/* form style start */
.form {
  margin: 0 auto !important;
}

.submit-btn {
  margin-top: 15px !important;
}
/* form style end */
